In [1]:
import pandas as pd
import numpy as np

# Read taxonomy table

In [3]:
df_tax = pd.read_csv('taxonomy.tsv', sep='\t')
taxonomy = []
for idx in df_tax.index:
    taxon = df_tax.loc[idx,'Taxon']
    taxon = taxon.split(';')
    res = [df_tax.loc[idx,'Feature ID']]
    lowest_classified_taxon = 'unclassified'
    for i in np.arange(7):
        if i < len(taxon):
            res.append(taxon[i])
            if 'unclassified' not in taxon[i] and 'uncultured' not in taxon[i] and 'unidentified' not in taxon[i]:
                lowest_classified_taxon = taxon[i]
        else:
            res.append('unclassified')
    res.append(lowest_classified_taxon)
    taxonomy.append(res)
    
df_tax = pd.merge(df_tax, pd.DataFrame(taxonomy, columns=['Feature ID','Kingdom','Phylum','Class','Order','Family','Genus','Species','LowestClassifiedTaxon']), left_on='Feature ID', right_on='Feature ID', how='left')
df_tax = df_tax[['Feature ID','Confidence','Kingdom','Phylum','Class','Order','Family','Genus','Species','LowestClassifiedTaxon']]
df_tax = df_tax.rename({'Feature ID':'ASV'}, axis=1).set_index('ASV')

# remove genus tag in species
df_tax['Species'] = [y.replace(x+'-','') for x,y in zip(df_tax['Genus'], df_tax['Species'])]
#df_tax['LowestTaxon'] = [y.replace(x+'-','') for x,y in zip(df_tax['Genus'], df_tax['LowestTaxon'])]

# # select only bacteria
# df_tax = df_tax[df_tax.Kingdom=='Bacteria']

df_tax.head()

,Confidence,Kingdom,Phylum,Class,Order,Family,Genus,Species,LowestClassifiedTaxon
ASV,,,,,,,,,
99deb3c5ecb022ec05609ebd1112a557,0.999997,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,unclassified,Bacteroides
f5f5e0da89730462abaf6301a9557193,0.999580,Bacteria,Firmicutes,Clostridia,Oscillospirales,Ruminococcaceae,Faecalibacterium,unclassified,Faecalibacterium
333bbf9224442fc10cd497377d2b1d01,0.999991,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,unclassified,Bacteroides
263e41ea2c25dc87bd2ff5910cf30d40,0.999999,Bacteria,Firmicutes,Clostridia,Lachnospirales,Lachnospiraceae,unclassified,unclassified,Lachnospiraceae
b15193fce14759d1c06728933e044af6,0.999991,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,unclassified,Bacteroides

# Prepare relative abundance table

In [4]:
df_count = pd.read_csv('otu.txt', sep='\t')
df_count = df_count.rename({'#OTU ID':'ASV'}, axis=1).set_index('ASV')
df_count = df_count.div(df_count.sum(axis=0), axis=1)
df_count = df_count[(df_count.T != 0).any()]

# merge tax and absolute abundance
df_count = pd.merge(df_tax[['LowestClassifiedTaxon']], df_count, left_index=True, right_index=True, how='inner').set_index('LowestClassifiedTaxon', drop=True)

# merge index (row sum for the same index)
df_count = df_count.groupby(df_count.index).sum()

df_count.head()

,sample1,sample100,sample101,sample102,sample103,sample104,sample105,sample110,sample111,sample112,...,sample90,sample91,sample92,sample93,sample94,sample95,sample96,sample97,sample98,sample99
LowestClassifiedTaxon,,,,,,,,,,,,,,,,,,,,,
Acetanaerobacterium,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
Acidaminococcus-intestini,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.034198,0.000000,0.000000,0.0,0.000000
Akkermansia,0.012382,0.0,0.000000,0.000221,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.011027,0.018405,0.008034,0.024016,0.001957,0.006852,0.057870,0.008314,0.0,0.001206
Akkermansia-sp.-KLE1798,0.000000,0.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.035553,0.015070,0.015640,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
Alistipes,0.018176,0.0,0.005495,0.026717,0.016205,0.01484,0.025021,0.014279,0.010939,0.027722,...,0.076599,0.101324,0.026001,0.081484,0.036382,0.026420,0.014734,0.027412,0.0,0.001981

In [5]:
df_count_T = df_count.T
df_count_T.index.name = 'SampleID'

In [6]:
df_count_T.to_excel('16S_relative_abundance.xlsx')