In [1]:
import pandas as pd
import numpy as np

# Read taxonomy table

In [2]:
df_tax = pd.read_csv('taxonomy.tsv', sep='\t')
taxonomy = []
for idx in df_tax.index:
    taxon = df_tax.loc[idx,'Taxon']
    taxon = taxon.split(';')
    res = [df_tax.loc[idx,'Feature ID']]
    lowest_classified_taxon = 'unclassified'
    for i in np.arange(7):
        if i < len(taxon):
            res.append(taxon[i])
            if 'unclassified' not in taxon[i] and 'uncultured' not in taxon[i] and 'unidentified' not in taxon[i]:
                lowest_classified_taxon = taxon[i]
        else:
            res.append('unclassified')
    res.append(lowest_classified_taxon)
    taxonomy.append(res)
    
df_tax = pd.merge(df_tax, pd.DataFrame(taxonomy, columns=['Feature ID','Kingdom','Phylum','Class','Order','Family','Genus','Species','LowestClassifiedTaxon']), left_on='Feature ID', right_on='Feature ID', how='left')
df_tax = df_tax[['Feature ID','Confidence','Kingdom','Phylum','Class','Order','Family','Genus','Species','LowestClassifiedTaxon']]
df_tax = df_tax.rename({'Feature ID':'ASV'}, axis=1).set_index('ASV')

# remove genus tag in species
df_tax['Species'] = [y.replace(x+'-','') for x,y in zip(df_tax['Genus'], df_tax['Species'])]
#df_tax['LowestTaxon'] = [y.replace(x+'-','') for x,y in zip(df_tax['Genus'], df_tax['LowestTaxon'])]

# # select only bacteria
# df_tax = df_tax[df_tax.Kingdom=='Bacteria']

df_tax.head()

,Confidence,Kingdom,Phylum,Class,Order,Family,Genus,Species,LowestClassifiedTaxon
ASV,,,,,,,,,
99deb3c5ecb022ec05609ebd1112a557,0.999997,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,unclassified,Bacteroides
fd44d4cb468fd7dc9b3227867714ed87,0.999994,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,unclassified,Bacteroides
f5f5e0da89730462abaf6301a9557193,0.999580,Bacteria,Firmicutes,Clostridia,Oscillospirales,Ruminococcaceae,Faecalibacterium,unclassified,Faecalibacterium
675c847bccbc53942ebb7b8cbb4efc4d,0.999647,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Prevotellaceae,Prevotella,unclassified,Prevotella
d900eb33f6b4bc449aab64df16ae18b2,0.999914,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,unclassified,Bacteroides

# Read metadata

In [3]:
df_meta = pd.read_csv('metadata.txt', sep='\t').set_index('#SampleID')
df_meta.head()

,Sample_type,Host_Age,Subject_ID,Time_point_original,Time_point,semester,status,Group,Acetate,Propionate,Butyrate,total_SCFA,Collection_Date
#SampleID,,,,,,,,,,,,,
SRR6444565,feces,17-29 yo,U222,1,1.0,fall16,before,accessible,73.981150,NaN,10.548664,84.529814,2016/9/1
SRR6443884,feces,17-29 yo,U222,2,2.0,fall16,before,accessible,71.237839,15.792592,18.146317,105.176748,2016/9/1
SRR6444382,feces,17-29 yo,U222,3,3.0,fall16,before,accessible,29.743311,5.881475,10.214394,45.839180,2016/9/1
SRR6444917,feces,17-29 yo,U225,1,1.0,fall16,before,accessible,28.019063,13.531843,8.422327,49.973233,2016/9/1
SRR6443930,feces,17-29 yo,U225,2,2.0,fall16,before,accessible,17.114913,8.984568,3.395816,29.495297,2016/9/1

# Prepare relative abundance table

In [13]:
df_count = pd.read_csv('otu.txt', sep='\t')
df_count = df_count.rename({'#OTU ID':'ASV'}, axis=1).set_index('ASV')
df_count = df_count[list(df_meta.index)]
df_count = df_count.div(df_count.sum(axis=0), axis=1)
df_count = df_count[(df_count.T != 0).any()]

# merge tax and absolute abundance
df_count = pd.merge(df_tax[['LowestClassifiedTaxon']], df_count, left_index=True, right_index=True, how='inner').set_index('LowestClassifiedTaxon', drop=True)

# merge index (row sum for the same index)
df_count = df_count.groupby(df_count.index).sum()

df_count.head()

,SRR6444565,SRR6443884,SRR6444382,SRR6444917,SRR6443930,SRR6444814,SRR6443937,SRR6444172,SRR6444016,SRR6444340,...,SRR6444262,SRR6444128,SRR6444981,SRR6444043,SRR6444077,SRR6444271,SRR6443984,SRR6444387,SRR6444571,SRR6444284
LowestClassifiedTaxon,,,,,,,,,,,,,,,,,,,,,
Absiella-argi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Absiella-dolichum,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acetanaerobacterium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acetoanaerobium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Acetobacterium,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_count_T = df_count.T
df_count_T.index.name = 'SampleID'

In [15]:
df_count_T.to_excel('16S_relative_abundance.xlsx')